.modalContainer {
    background-color: white;
    padding: 15px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
  }
  
  .select {
    padding: 8px;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    min-height: 100px;
  }
  
  .addressTypeContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .addressTypeOptions {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .addressTypeItem {
    border: 2px solid #d4d4d4;
    padding: 4px 8px;
    color: #d4d4d4;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .addressTypeItem.active {
    border-color: #039855;
    color: #039855;
  }
  
  .buttonGroup {
    display: flex;
    gap: 8px;
    justify-content: end;
  }
  
  .cancelButton {
    padding: 9px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmButton {
    padding: 9px;
    color: white;
    background-color: #039855;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  