version: "3.9"
services:
  web:
    build: .
    ports:
      - "8080:8080"
    network_mode: host
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/test_sep490
      - SPRING_DATASOURCE_USERNAME=sep490
      - SPRING_DATASOURCE_PASSWORD=123456